{% extends "templates/base.html" %}
{% block table_name %} <strong> Thoth Kebechet </strong> {% endblock %}
{% block table_info %} <strong> Kebechet Info </strong> {% endblock %}
{% block classes %}
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
            </tr>
        </thead>
        {% endblock %}
        {% block inputs %}
        <tbody>
            {% for quantity, value in html_inputs.items() %}
            <tr>
                <td>{{ quantity }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
{% endblock %}
