{% extends "templates/base.html" %}
{% block table_name %} <strong> Thoth References </strong> {% endblock %}
{% block table_info %} <strong> References to visualize all SLI and metrics </strong> {% endblock %}
{% block classes %}
        <thead>
            <tr>
                <th>Reference Link</th>
                <th>Description</th>
            </tr>
        </thead>
        {% endblock %}
        {% block inputs %}
        <tbody>
            {% for reference_name, reference in html_inputs.items() %}
            <tr>
                <td><a href="{{ reference['url'] }}"> {{ reference_name }}</a></td>
                <td>{{ reference['description'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
{% endblock %}
