{% extends "templates/base.html" %}
{% block table_name %} <strong> Thoth Learning </strong> {% endblock %}
{% block table_info %} <strong> What Thoth learned and information on learning </strong> {% endblock %}
{% block classes %}
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
            </tr>
        </thead>
        {% endblock %}
        {% block inputs %}
        <tbody>
            {% for value in html_inputs.values() %}
            <tr>
                <td>{{ value['name'] }}</td>
                <td>{{ value['value'] }}</td>
                <td>{{ value['measurement_unit'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
{% endblock %}
