{% extends "templates/base.html" %}
{% block table_name %} <strong> Thoth User-API </strong> {% endblock %}
{% block table_info %} <strong> Status of Thoth User-API </strong> {% endblock %}
{% block classes %}
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Current value</th>
                <th>Change since last week</th>
                <th>Measurement Unit</th>
            </tr>
        </thead>
        {% endblock %}
        {% block inputs %}
        <tbody>
            {% for value in html_inputs.values() %}
            <tr>
                <td>{{ value['name'] }}</td>
                <td>{{ value['value'] }}</td>
                <td>{{ value['change'] }}</td>
                <td>{{ value['measurement_unit'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
{% endblock %}
