{% extends "templates/base.html" %}
{% block table_name %} <strong> Kebechet Bot </strong> {% endblock %}
{% block table_info %} <strong> Kebechet Info </strong> {% endblock %}
{% block classes %}
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Total</th>
                <th>Change since last week</th>
            </tr>
        </thead>
        {% endblock %}
        {% block inputs %}
        <tbody>
            {% for quantity, value in html_inputs.items() %}
            <tr>
                <td>{{ value['name'] }}</td>
                <td>{{ value['value'] }}</td>
                <td>{{ value['change'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
{% endblock %}
