{% extends "templates/base.html" %}
{% block table_name %} <strong> Thoth Workflows </strong> {% endblock %}
{% block table_info %} <strong> Status of Thoth services (average quality) </strong> {% endblock %}
{% block classes %}
        <thead>
            <tr>
                <th>Workflow</th>
                <th>Succeeded</th>
                <th>Change (7 days)</th>
            </tr>
        </thead>
        {% endblock %}
        {% block inputs %}
        <tbody>
            {% for service, successfull_percentage in html_inputs.items() %}
            <tr>
                <td>{{ service }}</td>
                <td>{{ successfull_percentage['value'] }}</td>
                <td>{{ successfull_percentage['change'] }}</td>
                <td> % </td>
            </tr>
            {% endfor %}
        </tbody>
{% endblock %}
