<body>
    <table class="table table-thoth-services">
        <thead>
            <tr>
                <th>Thoth Components</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Component</th>
                <th>Successfull [%]</th>
            </tr>
        </thead>
        <tbody>
            {% for service, successfull_percentage in html_inputs.items() %}
            <tr>
                <td>{{ service }}</td>
                <td>{{ successfull_percentage }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>